.add-book-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 50px; */
    max-width: 500px;
    margin: 40px auto;
  }
  
  .add-book-form h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .add-book-form .form-group {
    margin-bottom: 20px;
  }
  
  .add-book-form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #555;
  }
  
  .add-book-form input[type="text"],
  .add-book-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    transition: border 0.3s ease;
  }
  
  .add-book-form input[type="text"]:focus,
  .add-book-form textarea:focus {
    border: 1px solid #007bff;
    outline: none;
  }
  
  .add-book-form button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .add-book-form button:hover {
    background-color: #218838;
  }
  
  .add-book-form .error-message {
    color: #dc3545;
    margin-bottom: 15px;
    text-align: center;
  }
  